# coding: utf-8
<div class="hero-unit">
	<h1><%= link_to simple_format("<i class='icon-time'></i>らぼたいむ<i class='icon-warning-sign'></i>"), "/auth/twitter" %></h1>
	<%= link_to 'login', "/auth/twitter", class: "btn btn-primary" %>
</div>
