# coding: utf-8
<div class="hero-unit">
	<h3><%= link_to simple_format("<i class='icon-time'></i>らぼたいむ"), "/auth/twitter" %></h3>
	<%= link_to 'login', "/auth/twitter", class: "btn btn-large btn-block btn-primary" %>
</div>
